#banner{
  background-size: cover;
  background-position-x: center;
  min-height: calc(100vh - 4.1rem);
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  position: relative;

  .content{
    margin: auto;
    width: 100%;
    max-width: 950px;
    flex: 1;

    display: flex;
    flex-direction: column;

    align-items: flex-start;
    justify-content: flex-end;

    z-index: 1;

    hgroup{
      h1{
        font-size: 4rem;
        text-transform: uppercase;
        margin: 0;
      }
      strong{
        font-size: 1.5rem;
        font-weight: normal;
      }
    }

    .description{
      max-width: 28rem;
      line-height: 1.5rem;
      margin: 1.6rem 0;
    }

    .btn{
      font-size: 1rem;
    }
  }
}