#cms_catalog{
  .content{
    padding: 2rem 0;
    h2{
      text-transform: uppercase;
      font-size: 2rem;
      text-align: center;
      margin-top: 0;
    }

    #container-products{
      display: flex;
      overflow-x: auto;
      margin: auto;
      width: fit-content;
      max-width: 100%;      

      .content-product{
        text-align: center;
        width: 20rem;

        img{
          width: 20rem;
          height: 20rem;
          object-fit: cover;
          box-shadow: 0 0 20px #00002205;
          margin: .2rem .2rem 1.2rem;
          border-radius: .2rem;
        }

        strong{ text-transform: uppercase; }

        .price{
          font-size: 1.6rem;
          font-weight: 600;
          margin-top: .4rem;    

          small{ font-size: .8rem; }
        }
      }

      .text-loading{
        opacity: .7;
        text-align: center;
        width: 100%;
        padding-left: 2rem;
        padding-right: 2rem;
        height: 14rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #0021;
      }
    }

    .btn{
      min-width: 12rem;
      max-width: 100%;
      width: fit-content;
      font-size: 1rem;
      margin: 1rem auto;
    }
  }
}