#cms_blog{

  .content{
    padding: 2rem 2rem 4rem;
    
    h2{
      text-transform: uppercase;
      font-size: 2rem;
      text-align: center;
      margin-bottom: 1rem;
    }

    #container-blog{
      display: flex;
      min-height: 15rem;
      overflow-x: auto;
      padding-bottom: .4rem;
      margin: auto;
      width: fit-content;
      max-width: 100%;

      .content-post{
        display: flex;
        flex-direction: column;
        padding: .4rem;
        width: calc(15rem + 1.6rem);

        img{
          width: 15rem;
          min-width: 15rem;
          height: 15rem;
          min-height: 15rem;
          box-shadow: 0 0 20px #0021;
          border-radius: 0.4rem;
          object-fit: cover;
          margin: .4rem;
        }
        
        > div{
          max-height: 10.5rem;
          overflow-y: auto;

          > a time{
            display: block;
            font-size: .7rem;
            opacity: .7;
            font-weight: 300;
            padding: .3rem 0;
          }
  
          > p{
            margin: .25rem 0;
          }
        }
      }
    }

    .text-loading{
      opacity: .7;
      text-align: center;
      width: 100%;
      padding-left: 2rem;
      padding-right: 2rem;
      height: 15rem;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #0002;
    }
    
    .btn{
      min-width: 12rem;
      max-width: 100%;
      width: fit-content;
      font-size: 1rem;
      margin: 1rem auto;
    }
  }
}