#footer{
  .content{
    max-width: 1100px;
    margin: auto;

    padding: 2rem 1.6rem 1rem;
    display: grid;
    grid-template-columns: auto 15rem 17rem;

    > div{
      padding: 1rem .4rem;
      display: flex;
      flex-direction: column;

      a, span, p { font-size: .9rem; }
      strong{ font-size: 1.1rem; }

      &:nth-child(1){

        .logo{
          max-height: 5rem;
          max-width: 100%;
          object-fit: cover;    
          width: fit-content;
        }

        p{
          max-height: 24rem;
        }
      }

      &:nth-child(2){
        strong{
          margin-bottom: .8rem;
        }

        ul{
          list-style: none;
          padding-left: 0;
          margin: 0;

          li{ padding: .2rem 0; }
        }
      }

      &:nth-child(3){
        strong{
          margin-bottom: .8rem;
        }

        a{
          padding: .2rem;
        }

        .group-icons{
          display: flex;
          flex-wrap: wrap;

          padding: 1rem 0;
          max-width: 10rem;
        }
      }
    }

    @media (max-width: 800px){
      grid-template-columns: 1fr;
    }
  }
}