#product_list{
  min-height: 30rem;
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  position: relative;

  .content{
    margin: auto;
    width: 100%;
    max-width: 950px;
    flex: 1;
    padding: 2rem;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    z-index: 1;

    .container-items{
      display: flex;
      justify-content: center;
      gap: 1rem;
      flex-wrap: wrap;
      padding: 3rem 0;

      .item{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 14rem;

        img{
          margin-bottom: 1.5rem;
          width: 13rem;
          height: 13rem;
          object-fit: cover;
          border-radius: 50%;
          box-shadow: 0 0 20px #0022;
        }
        strong{
          font-size: 1.2rem;
          text-transform: uppercase;
          margin: 0;
          font-weight: 800;
          text-align: center;
        }
    
        p{
          margin: .5rem 0;
          text-align: center;
        }
      }
    }

    .group-buttons{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 2rem;
      padding-bottom: 2rem;

      .btn{
        min-width: 12rem;
        font-size: 1rem;
      }
    }
  }
}