#section_list{
  min-height: 30rem;
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  position: relative;

  .content{
    margin: auto;
    width: 100%;
    max-width: 950px;
    flex: 1;
    padding: 4rem 2rem;
    border-radius: .6rem;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;

    z-index: 1;

    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: .6rem;
      box-shadow: 0 0 20px #0022;
    }

    > div{
      padding: 2rem;

      h2{
        text-transform: uppercase;
        font-size: 2rem;
        margin-top: 0;
      }


      ul {
        list-style: none;
        padding-inline-start: 1.2rem;

        li{
          p{
            margin: .4rem 0;
            display: inline-block;
          }

          &::before {
            content: "\2022";
            color: inherit;
            font-weight: bold; 
            display: inline-block; 
            width: 1em;
            margin-left: -1em; 
            font-size: 1.5rem;
            line-height: 1rem;
            vertical-align: -4px;
          }
        }
      }

      .btn{
        min-width: 12rem;
        max-width: 100%;
        width: fit-content;
        font-size: 1rem;
      }
    }

    @media (max-width: 700px){
      grid-template-columns: repeat(1, 1fr);
    }
  }
}