#testimonial{
  min-height: 30rem;
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  position: relative;

  .content{
    margin: auto;
    width: 100%;
    max-width: 950px;
    flex: 1;
    padding: 4rem 2rem;
    border-radius: .6rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    z-index: 1;

    .container-clients{
      display: flex;
      justify-content: space-around;
      gap: 1rem;
      flex-wrap: wrap;
      padding: 3rem 0;
      width: 100%;

      .client{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 16rem;

        .content-image{
          position: relative;
          margin-bottom: 1.5rem;

          img:not(.icon){
            width: 8rem;
            height: 8rem;
            object-fit: cover;
            border-radius: 50%;
            box-shadow: 0 0 20px #0022;
          }
          .icon{
            position: absolute;
            width: 2rem;
            height: 2rem;
            bottom: 0;
            right: 0;
            display: block;
          }
        }
        

        strong{
          font-size: 1.2rem;
          text-transform: uppercase;
          margin: 0;
          text-align: center;

          span{
            font-weight: normal;
          }
        }
    
        p{
          margin: .5rem 0;
          text-align: center;
        }
      }
    }

    
    .btn{
      min-width: 12rem;
      max-width: 100%;
      width: fit-content;
      font-size: 1rem;
    }
  }
}